// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Text Colors
$text-primary: #F0F0EF;
$text-secondary: #8F8984;
$text-correct: #89DA7F;
$text-wrong: #DA7F7F;

// Background Colors
$background-primary: #100F0E;
$background-secondary: #181715;
$background-third: #211F1D;
$background-fourth: #292624;

// Brand Colors
$brand-primary: #FF9933;
$brand-secondary: #C5782B;

// Border Colors
$border-primary: #2B2927;
